.wrap {
  --anim-duration: .25s;
  max-width: 100%;
  line-height: 1.1;
  display: inline-block;
}

.sideElement {
  opacity: .8;
  transition: opacity .5s;

  &:not(.show) {
    opacity: 0;
  }
}

.quote {
  composes: sideElement;
  line-height: 0;
  font-size: 150%;
  position: relative;
  top: 0.25rem;
}

.author {
  composes: sideElement;
  margin-left: 1rem;
  line-height: 1.5;
}

.word {
  white-space: nowrap;
}

.letter {
  display: inline-block;
  font-style: italic;
  animation: anim-in var(--anim-duration) both;
  white-space: nowrap;
  font-size: 130%;

  &:not(.show) {
    animation-direction: reverse;
  }
}

@keyframes anim-in {
  from{ opacity: 0; transform: translateY(-50%); }
  to  { opacity: 1; transform: translateY(0); }
}
